/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Tablet (Landscape)
    #Tablet (Portrait)
    #iPad (Portrait)
    #iPhone (Landscape)
    #Clearing */

/* #Tablet (Landscape), iPad landscape
================================================== */

    /* Note: Design for a width of 1024px */

    @media only screen and (min-width: 960px) and (max-width: 1024px) {
        #wrapper  { width: 750px; margin:40px auto;}
		#main {width:750px; float:left;}
		#sidebar {display:none; float:none;}

		}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 769px - 1024px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        #wrapper  { width: 750px; margin:40px auto;}
		#main {width:750px; float:left;}
		#sidebar {display:none; float:none;}
		.flex-prev {left:9px!important;}
		.flex-next {left:676px!important;}
		.scrollup {right:20px;}
		
		/* error page */
		.error_404 {width:94%; background:none; padding-top:0;}
		.error_404 p {text-align:center;}
		.error_404 h1 {width:90%; text-align:center; font-size:20px!important; line-height:30px!important; margin:10px!important;}
		h1.error_404 { display:none;}
		
		}


/*  #iPad (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (max-width: 767px) {
	
        #wrapper  { width: 750px; margin:40px auto;}
		#main {width:750px; float:left;}
		#sidebar {display:none; float:none;}
		.flex-next {left:9px!important;}
		.flex-prev {left:676px!important;}
		.header {padding-left:20px;}
		.logo {width:100%!important;}
		.logo img{display:none;}
		.logo span {display:block;}
		.logo-tag  {display:none;}
		.scrollup {right:10px;}
		
		/* error page */
		.error_404 {width:85%; background:none; padding-top:0;}
		.error_404 p {text-align:center;}
		.error_404 h1 {width:90%; text-align:center; font-size:20px!important; line-height:30px!important; margin:10px!important;}
		h1.error_404 { display:none;}
		
    }

/*  #iPhone (Landscape)
================================================== */

    @media only screen and (min-width: 321px) and (max-width: 600px) {
	
        #wrapper  { width:100%; margin:40px auto;}
		#main {width:100%; float:left;overflow:hidden;}
		#sidebar {display:none; float:none;}
		.content {width:100%;}
		.header {padding-left:10px;padding-right:10px;}
		.logo {width:100%!important;}
		.logo img{display:none;}
		.logo span {display:block;}
		.logo-tag  {display:none;}
		
		
		.menu {border-top:none;width:100%;margin-top:10px;}
			.menu ul {width:100%;}
				.menu ul ul  {display:none;}
		.menu li a , .menu li a:hover {border: none;}
		.menu li a:hover {color:#777;}
		
		/* #Main Menu responsive
		================================================== */
		
		#dd {text-align:center;margin:40px auto 0;width:95%;}
		#dd span {display:block;}
		ul#menu-mobile {display:block;}
			ul#menu-mobile li  { width:92%;float:none!important;  border-right:none;margin:20px 20px 20px 0!important;padding-left:10px;}
			ul#menu-mobile li:hover { background: none;}
			.menu ul ul li a {display:none!important;}
			.menu li a {padding:0px 0 20px 0px!important;border-right:none;margin:20px 0px 20px 0!important;padding-left:10px; }
			
		.wrapper-dropdown  {display:block!important;}	
		.wrapper-dropdown {
			/* Size & position */
			position: relative;
			width: 100%;
			margin: 20px 20px 0 20px;
			padding: 12px 15px;
			z-index:1000;
			border-radius: 20px 20px 0 0;
			border-bottom:none!important;
			/* Styles */
			background: #fff;
			cursor: pointer;
			outline: none;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
			font-family: 'Oswald', sans-serif; font-size:18px;color:#999;text-transform:uppercase;
		}

		.wrapper-dropdown:after { /* Little arrow */
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -3px;
			border-width: 6px 6px 0 6px;
			border-style: solid;
			border-color: #ff6600 transparent;
		}

		.wrapper-dropdown .dropdown {
			/* Size & position */
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;

			/* Styles */
			background: #f3f3f3;
			border-radius: 0 0 20px 20px;
			list-style: none;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;

			/* Hiding */
			max-height: 0;
			overflow: hidden;
		}

		.wrapper-dropdown .dropdown li {padding: 0 5px;}
		.wrapper-dropdown .dropdown li a {
			display: block;
			text-decoration: none;
			color: #777;
			padding: 5px 0;
			transition: all 0.3s ease-out;
			border-bottom:1px solid #e5e5e5; 
		}

		.wrapper-dropdown .dropdown li:last-of-type a {border: none;}
		.wrapper-dropdown .dropdown li i {margin-right: 5px;color: inherit; vertical-align: middle;}

		/* Hover state */

		.wrapper-dropdown .dropdown li:hover a {color: #ff9900;}

		/* Active state */

		.wrapper-dropdown.active {border-radius: 20px 20px 0 0;background: #ddd;color: white;}
		.wrapper-dropdown.active:after {border-color: #fff transparent;}
		.wrapper-dropdown.active .dropdown {max-height: 600px;}
		
		/* end responsive menu */
		
		.ad-728 {display:none;}
		
		.flexslider {width:100%; margin:0!important; padding:0!important;}
		.flexslider .flex-viewport {width:100%; height:auto!Important; margin:0!important; }
		.flex-control-nav {display:none!important;}
		.flex-next {display:none!important;}
		.flex-prev {display:none!important;}
		
		.tier, .content {width:100%;}
		.tier {height:auto;}
		.tier h2 {display:none;}
		.tier_block {width:90%; margin:20px 0 0 20px;}
		.tier_excerpt {width:75%; margin:5px 0 0 10px;}
		.tier_icon {margin:20;text-align:center; float:left;}
		
		.intro_block  {margin-bottom:20px;margin-left:10px; width:94%;text-align:center;}
		.intro_block  img { height:auto; float:left;margin-right:20px;margin-bottom:3px;}
		.intro_block p {text-align: left;}
		.intro_block span {display:none!important;}
		.intro_block h2  {margin-left:15px; margin-top:0;}
		
		.content_var3 {padding-left:0!important; margin:0;}
		.content_var3 .col2 {margin:0!important;}
			.content_var3 .col2 img {margin:20px 0 0 0px!important;height:auto;}
			.content_var3 .col2 p {width:86%;}
			.content_var3 .col2 span {display:none!important;}
			.content_var3 .call_to_action {margin:0;}
			
		.content_var3 .col3 {width:100%; margin:0;}
		.content_var3 .col3 p {width:86%!important;}
			.content_var3 .col3 span {display:none!important;}
			
		.content_col2 .col2 { margin:0; width:100%; padding-left:0;text-align:center;}		
			.content_col2 .col2 img {}
			.content_col2 .col2 span {display:none!important;}
			.content_col2 .col2 p {padding-left:20px; width:91%; text-align:justify;}
			.content_col2 h2  {margin-left:20px;}
		
		.header_line  {width:93%;margin-left:10px;line-height:26px;}
		.header_line h1 {width:99%;text-align:center;margin-left:0;}
		.block_latest_content {margin-left: 10px;}
		.article_preview {margin-left: 0px;width:99%;}
		.article_preview_th {display:none;}
		.article_preview_content {float:none; padding-left:0;width: 90%;}
		.block_latest_left , .block_latest_right {margin-top:0; width:100%; float:none; text-align:center;}
		.block_latest_content span  {display:none!important;}	
		
		.call_to_action {width:100%;height:auto; margin:0px;padding:10px;}
		.call_to_action p{padding-right:20px; text-align:left;}
		.call_to_action h1{ text-align:left;}
		.call_to_action .button {margin:5px 20px 10px 20px!important;}
		.post_by_image {width:100%; margin-left:0!important;}
		.post_by_image_th {margin:0 0px 10px 10px!important;}
		
		#footer {width:100%; }
			.footer_menu {display:none;}
			.footer_social {float:none; margin:0 auto 20px;}
			
		.js #menu-mobile, .js #menu-mobile-footer { display: none; }
		.js .selectnav { display: block; }
		.scrollup {right:10px;}
		.header_line {margin: 20px 0px 20px 20px;}	
		
		/* post */
		.post_container .like {overflow: hidden;width: 100px;}
		.post_container .meta {text-align:left!important; margin-left:20px;width:90%;float:left;}
		.post_container .comments {padding-left: 15px;}
		.post_container .breadcrumbs {margin-bottom:20px;}
		.post_container img {max-width:100%; padding-bottom:5px;}
		.ad-728_bottom {display:none;}	
		.tags {width:95%; margin-left:10px;}
		.su-column-1-2 {width: 99%;}
		.su-column-1-3 {width: 99%;}
		.su-column-1-4 {width: 45%;}

		/* category */
		.post_listing_container {float:left; margin-bottom:25px;}
		.post_listing  {width:43%;}
		.post_listing p {width:95%;}
		.post_listing_image  { width:47%;padding-right:15px;}
		.post_listing_image img {width:100%; padding-bottom:5px;}
		.post_listing_image span {right:15px;}
		
		/* error page */
		.error_404 {width:80%; background:none; padding-top:0;}
		.error_404 p {text-align:center;}
		.error_404 h1 {width:90%; text-align:center; font-size:20px!important; line-height:30px!important; margin:10px!important;}
		h1.error_404 { display:none;}
		
		/* portfolio */
		.portfolio_col2 {padding-left:0;}
			.portfolio_col2 .col2 {margin:0;text-align:center; width:100%;background:#eee;}
				.portfolio_col2 .col2 img {margin:0 0 10px 0;}
				.portfolio_col2 .col2 span{display:none!important;}
		
		/* form */
		
		#respond  {width:94%;}
		#respond .form_item  {width:100%;float:left;padding-right:9px;}
			#respond .form_item input {width:94%;}
			#respond .form_item_comment { width: 94%;}
				#respond textarea {width:94%;}
			#respond .submit_comment {margin: -20px 0px 20px 0;width: 98%;}
				#respond .submit_comment .button { padding:20px 40px!important; width: 100%;}
					#respond .success {width:81%!important;}
					#respond .error-msg { width:81%!important;}
					#respond label.error {top:6px;right:25px;}
					#respond .form_item_comment label.error {top:6px!important;}
					
    }


/*  #iPhone (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 320px) {
        #wrapper  { width:100%; margin:40px auto;}
		#main {width:100%; float:left;overflow:hidden;}
		#sidebar {display:none; float:none;}
		.content {width:100%;}
		.header {padding-left:10px;padding-right:10px;}
		.logo {width:100%!important;}
		.logo img{display:none;}
		.logo span {display:block;}
		.logo-tag  {display:none;}
		
		/* #Main Menu responsive
		================================================== */
		
		.menu {width:60%;}
		#dd {text-align:center;margin:40px auto 0;width:90%;}
		#dd span {display:block;}
		ul#menu-mobile {display:block;}
			ul#menu-mobile li  { width:92%;float:none!important;  border-right:none;margin:20px 20px 20px 0!important;padding-left:10px;}
			ul#menu-mobile li:hover { background: none;}
			.menu ul ul li a {display:none!important;}
			.menu li a {padding:0px 0 20px 0px!important;border-right:none;margin:20px 0px 20px 0!important;padding-left:10px; }
			
		.wrapper-dropdown  {display:block!important;}	
		.wrapper-dropdown {
			/* Size & position */
			position: relative;
			width: 100%;
			margin: 20px 20px 0 20px;
			padding: 12px 15px;
			z-index:1000;
			border-radius: 20px 20px 0 0;
			border-bottom:none!important;
			/* Styles */
			background: #fff;
			cursor: pointer;
			outline: none;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
			font-family: 'Oswald', sans-serif; font-size:18px;color:#999;text-transform:uppercase;
		}

		.wrapper-dropdown:after { /* Little arrow */
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -3px;
			border-width: 6px 6px 0 6px;
			border-style: solid;
			border-color: #ff6600 transparent;
		}

		.wrapper-dropdown .dropdown {
			/* Size & position */
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;

			/* Styles */
			background: #f3f3f3;
			border-radius: 0 0 20px 20px;
			list-style: none;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;

			/* Hiding */
			max-height: 0;
			overflow: hidden;
		}

		.wrapper-dropdown .dropdown li {padding: 0 5px;}
		.wrapper-dropdown .dropdown li a {
			display: block;
			text-decoration: none;
			color: #777;
			padding: 5px 0;
			transition: all 0.3s ease-out;
			border-bottom:1px solid #e5e5e5; 
		}

		.wrapper-dropdown .dropdown li:last-of-type a {border: none;}
		.wrapper-dropdown .dropdown li i {margin-right: 5px;color: inherit; vertical-align: middle;}

		/* Hover state */

		.wrapper-dropdown .dropdown li:hover a {color: #ff9900;}

		/* Active state */

		.wrapper-dropdown.active {border-radius: 20px 20px 0 0;background: #ddd;color: white;}
		.wrapper-dropdown.active:after {border-color: #fff transparent;}
		.wrapper-dropdown.active .dropdown {max-height: 600px;}
		
		/* end responsive menu */
		
		.ad-728 {display:none;}
		.scrollup {right:10px;}
		
		.flexslider {width:100%; background:#fff;}
		.flexslider .flex-viewport {width:100%; height:auto!Important; margin:0!important; }
		.flex-control-nav {display:none!important;}
		.flex-next {display:none!important;}
		.flex-prev {display:none!important;}
		
		.tier, .content {width:100%;}
		.tier {height:auto;padding-bottom:20px;}
		.tier h2 {display:none;}
		.tier_block {width:90%; margin:20px 0 0 20px;}
		.tier_excerpt {width:90%; margin-right:20px;}
		.tier_icon {float:none;margin:10px auto 0;text-align:center;}
		
		.intro_block  {margin-bottom:20px;margin-left:10px; width:94%;text-align: center;}
		.intro_block  img { height:auto;}
		.intro_block p {text-align: left;}
		.intro_block span {display:none!important;}
		.intro_block h2  {margin-left:15px;}
		
		.content_var3 {padding-left:0!important; margin:0;}
		.content_var3 .col2 {margin:0!important;}
			.content_var3 .col2 img {margin:20px 0 0 0px!important; width:100%; height:auto;}
			.content_var3 .col2 p {width:86%;}
			.content_var3 .col2 span {right:0;}
			.content_var3 .call_to_action {margin:0;}
			
		.content_var3 .col3 {width:100%; margin:0;}
		.content_var3 .col3 p {width:86%!important;}
			.content_var3 .col3 span {display:none!important;}
		
		.content_col2 .col2 { margin:0; width:100%; padding-left:0;}		
			.content_col2 .col2 img {text-align:center;}
			.content_col2 .col2 span {display:none!important;}
			.content_col2 .col2 p {padding-left:10px; width:85%; text-align:justify;}
			.content_col2 h2  {margin-left:0;}
			
		.header_line  {width:93%;margin-left:10px;line-height:26px;}
		.header_line h1 {width:99%;text-align:center;margin-left:0;}
		.block_latest_content {margin-left: 10px;}
		.article_preview {margin-left: 0px;width:96%;}
		.article_preview_th {display:none;}
		.article_preview_content {float:none;margin-left:0; padding-left:0;width: 90%;}
		.block_latest_left , .block_latest_right {margin-top:0; width:100%; float:none;}
		.block_latest_left img , .block_latest_right img{width:96%; padding-right:20px;}
		.block_latest_content span  {display:none!important;}		
		
		.call_to_action {width:94%;height:auto; margin:0px;padding:10px;}
		.call_to_action .button {margin:5px 20px 10px 20px!important;}
		.call_to_action h1 {text-align:center;}
		.post_by_image {width:100%; margin-left:0!important;}
		.post_by_image_th {margin:0 0px 12px 15px!important;}
		#footer {width:100%; }
			.footer_menu {display:none;}
			.footer_social {float:none; margin:0 auto 20px;}

		.header_line {margin: 20px 0px 20px 10px;}	
		
		/* post */
		.post_container .like {overflow: hidden;width: 100px;}
		.post_container .meta {text-align:left!important; margin-left:20px;width:90%;float:left;}
		.post_container .comments {padding-left: 15px;}
		.post_container .breadcrumbs {margin-bottom:20px;}
		.post_container img {max-width:100%; padding-bottom:5px;}
		.ad-728_bottom {display:none;}	
		.tags {width:95%; margin-left:10px;}
		.su-column-1-2 {width: 99%;}
		.su-column-1-3 {width: 99%;}
		.su-column-1-4 {width: 99%;}
		#comments-list ul.children {margin-left:0;}

		/* category */
		.post_listing_container {padding-bottom:20px;float:left; margin-bottom:20px;}
		.post_listing_preview {margin-bottom:0;}
		.post_listing  {width:97%;float:none; padding-top:0;padding-left:10px;}
		.post_listing p {width:97%;}
		.post_listing_image  {float:none; width:100%; padding-top:0;}
		.post_listing_image img {width:100%;}
		.post_listing_image span {display:none!important;}
		.read_more {margin-bottom:15px;}
		
		/* error page */
		.error_404 {width:70%; background:none; padding-top:0;}
		.error_404 p {text-align:center;}
		.error_404 h1 {width:90%; text-align:center; font-size:20px!important; line-height:30px!important; margin:10px!important;}
		h1.error_404 { display:none;}
		
		/* portfolio */
		.portfolio_col2 {padding-left:0;}
			.portfolio_col2 .col2 {margin:0;}
				.portfolio_col2 .col2 img {width:100%;margin:0 0 10px 0;}
				.portfolio_col2 .col2 span{display:none!important;}
		
		/* form */
		
		#respond  {width:90%;}
		#respond .form_item  {width:100%;float:left;padding-right:9px;}
			#respond .form_item input {width:90%;}
			#respond .form_item_comment { width: 90%;}
				#respond textarea {width:90%;}
			#respond .submit_comment {margin: -20px 0px 20px 0;width: 97%;}
				#respond .submit_comment .button { padding:20px 40px!important; width: 100%;}
					#respond .success {width:61%!important;}
					#respond .error-msg { width:61%!important;}
					#respond label.error {top:6px;right:25px;}
					#respond .form_item_comment label.error {top:6px!important;}
					
					
					
					
    }
	



/* #Clearing
================================================== */

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
