<!-- MAIN CONTENT start here 
================================================== -->

<div class="content">

    <div class="header_text">
    
        <div class="heading"><h1>Latest Posts</h1></div>
        <div class="stripe"></div>
    
    </div>

    <div class="intro_block">
    
        <a href="#" title="Lorem ipsum"><img src="/bundles/base/images/225x150.gif" alt="Lorem ipsum" /></a>
        
        <h2>faucibus turpis egetiper </h2>
        
        <p>Sed sed arcu sed sem consequat ultri-cies vitae sit amet ipsum. Curabitur quis diam sapien, et ornare felis. In eu mollis tellus. 
        Sed et hendrerit ipsum. Nulla tincidunt lacus ut mi viverra fringilla. Nulla hendrerit suscipit massa et condimentum... </p>
        
    </div>

    <div class="intro_block">
    
        <a href="#" title="Lorem ipsum"><img src="/bundles/base/images/225x150.gif" alt="Lorem ipsum" /></a>
        
        <h2>Quisque facilisis dignissim</h2>
        
        <p>Suspendisse potenti. Aenean felis arcu, suscipit vitae pulvinar interdum, dictum at augue. Nulla ultricies massa viverra tortor rutrum et condimentum leo consectetur. 
        Sed placerat augue eu eros ultrices sodales. Nullam aliquet ultrices velit ut luctus...</p>
        
    </div>

    <div class="intro_block">
    
        <a href="#" title="Lorem ipsum"><img src="/bundles/base/images/225x150.gif" alt="Lorem ipsum" /></a>
        
        <h2>Nam interdum sollicitudin</h2>
        
        <p>Vivamus vestibulum enim sit amet dolor rhoncus sodales. Aenean ut odio mauris. Maecenas vel volutpat lacus. Sed accumsan massa id arcu interdum quis blandit eros auctor. 
        In bibendum, nibh a gravida porta, sapien neque dictum sapien, in dapibus quam...</p>
        
    </div>
    
    <div class="su-spacer"></div>    
    
    <div class="block_latest_left">
    
        <div class="header_line">
        
            <h1>latest posts from posuere</h1>
        
        </div>
        
        <div class="block_latest_content">
                        
            <p><a href="#" title="Lorem ipsum"><img src="/bundles/base/images/345x140.gif" alt="Lorem ipsum" /></a></p>
            
        </div>
        
        <div class="article_preview">
        
            <div class="article_preview_th"><a href="#" title=""><img src="/bundles/base/images/50x50.gif" alt="Lorem ipsum" /></a></div>
            
            <div class="article_preview_content">
            
                <h3 class="dotted"><a href="#" title="Lorem ipsum dolor sim ament Crasis">Lorem ipsum dolor sim ament Crasis</a></h3>
                <p>Posted on Jun 30, 2012 in <a href="#" title="Design magazine">Design Magazine</a> |  <a href="#" title="Comments">17 comments</a> </p>
                
            </div>
        
        </div>
    
        <div class="article_preview">
        
            <div class="article_preview_th"><a href="#" title=""><img src="/bundles/base/images/50x50.gif" alt="Lorem ipsum" /></a></div>
            
            <div class="article_preview_content">
            
                <h3 class="dotted"><a href="#" title="Dolor sit amet, consectetur">Dolor sit amet, consectetur</a></h3>
                <p>Posted on Jun 24, 2012 in <a href="#" title="Blogfest">Blogfest</a> |  <a href="#" title="Comments">5 comments</a> </p>
                
            </div>
        
        </div>
    
        <div class="article_preview">
        
            <div class="article_preview_th"><a href="#" title=""><img src="/bundles/base/images/50x50.gif" alt="Lorem ipsum" /></a></div>
            
            <div class="article_preview_content">
            
                <h3 class="dotted"><a href="#" title="Aliquam bibendum consequat vene">Aliquam bibendum consequat vene</a></h3>
                <p>Posted on Jun 20, 2012 in <a href="#" title="Inspirational">Inspirational</a> |  <a href="#" title="Comments">0 comments</a> </p>
                
            </div>
        
        </div>
    
        <div class="article_preview">
        
            <div class="article_preview_th"><a href="#" title=""><img src="/bundles/base/images/50x50.gif" alt="Lorem ipsum" /></a></div>
            
            <div class="article_preview_content">
            
                <h3 class="dotted"><a href="#" title="Sed et hendrerit ipsum felis arcu">Sed et hendrerit ipsum felis arcu</a></h3>
                <p>Posted on Jun 15, 2012 in <a href="#" title="Curagitur">Curagitur</a> |  <a href="#" title="Comments">4 comments</a> </p>
                
            </div>
        
        </div>
    
    </div>
    
    <div class="block_latest_right">
    
        <div class="header_line">
        
            <h1>latest posts from fermentum</h1>
        
        </div>
        
        <div class="block_latest_content">
                        
            <p><a href="#" title="Lorem ipsum"><img src="/bundles/base/images/345x140.gif" alt="Lorem ipsum" /></a></p>
            
        </div>
        
        <div class="article_preview">
        
            <div class="article_preview_th"><a href="#" title=""><img src="/bundles/base/images/50x50.gif" alt="Lorem ipsum" /></a></div>
            
            <div class="article_preview_content">
            
                <h3 class="dotted"><a href="#" title="Nunc congue metus quis posuere tempor">Nunc congue metus quis posuere tempor</a></h3>
                <p>Posted on May 28, 2012 in <a href="#" title="Design magazine">Sci-Fi</a> |  <a href="#" title="Comments">2 comments</a> </p>
                
            </div>
        
        </div>
    
        <div class="article_preview">
        
            <div class="article_preview_th"><a href="#" title=""><img src="/bundles/base/images/50x50.gif" alt="Lorem ipsum" /></a></div>
            
            <div class="article_preview_content">
            
                <h3 class="dotted"><a href="#" title="Aenean vitae ultricies sapien adipiscing elit">Aenean vitae ultricies sapien adipiscing elit</a></h3>
                <p>Posted on May 21, 2012 in <a href="#" title="Blogfest">Blogfest</a> |  <a href="#" title="Comments">8 comments</a> </p>
                
            </div>
        
        </div>
    
        <div class="article_preview">
        
            <div class="article_preview_th"><a href="#" title=""><img src="/bundles/base/images/50x50.gif" alt="Lorem ipsum" /></a></div>
            
            <div class="article_preview_content">
            
                <h3 class="dotted"><a href="#" title="Cras ut ligula quis tortor dapibus faucibus">Cras ut ligula quis tortor dapibus faucibus</a></h3>
                <p>Posted on May 10, 2012 in <a href="#" title="Inspirational">Inspirational</a> |  <a href="#" title="Comments">5 comments</a> </p>
                
            </div>
        
        </div>
    
        <div class="article_preview">
        
            <div class="article_preview_th"><a href="#" title=""><img src="/bundles/base/images/50x50.gif" alt="Lorem ipsum" /></a></div>
            
            <div class="article_preview_content">
            
                <h3 class="dotted"> <a href="#" title="In rutrum metus mauris at libero">In rutrum metus mauris at libero</a></h3>
                <p>Posted on May 7, 2012 in <a href="#" title="Curagitur">Curagitur</a> |  <a href="#" title="Comments">34 comments</a> </p>
                
            </div>
        
        </div>
    
    </div>
    
    <div class="su-spacer"></div>    
    
    <div class="call_to_action">
    
        <h1>Lorem ipsum dolor sit amet consectetur </h1>
        
        <p><a href="#" class="button">Call to actionn</a></p>
        
        <p>Nunc congue, metus quis posuere tempor, nunc eros porta nibh, dignissim suscipit magna felis vitae velit. Quisque facilisis, felis placerat dignissim elementum, 
        nisi massa malesuada nulla, in rutrum metus mauris at libero. Aliquam adipiscing tincidunt erat a fringilla. Fusce consequat ornare diam eget fermentum. 
        Curabitur pellentesque scelerisque pulvinar. </p>
    
    </div>

    <div class="header_text">
    
        <div class="heading"><h1>Post by image</h1></div>
        <div class="stripe"></div>
    
    </div>
    
    <div class="post_by_image">
    
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
        <div class="post_by_image_th"><a href="images/800x600.gif" data-rel="prettyPhoto[gallery]" title="Lorem ipsum"><img src="/bundles/base/images/55x55.gif" alt="Lorem ipsum" /></a></div>
    
    </div>

</div>

<!-- MAIN CONTENT end here 
================================================== -->