            <!-- SLIDER start here 
            ================================================== -->
        
   
<div class="flexslider"> 

  <ul class="slides"> 
    <li> 
      <img src="/bundles/base/images/slide_3.gif" alt="slide" /> 
    </li> 
    <li> 
      <img src="/bundles/base/images/slide_3.gif" alt="slide" /> 
    </li> 
    <li> 
      <img src="/bundles/base/images/slide_1.gif" alt="slide" /> 
    </li> 
    <li> 
      <img src="/bundles/base/images/slide_4.gif" alt="slide" /> 
    </li> 

  </ul> 
  
</div>
            
            <!-- SLIDER end here 
            ================================================== -->