<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Админка</title>
  
  <script type="text/javascript" src="/vendors/jquery/jquery-1.9.0.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/bundles/bootstrap/css/bootstrap.css">
  
</head>
<body>

  {% include 'admin/_topmenu.twig' %}

  {% block content %}
  {% endblock %}
  
  <script type="text/javascript" src="/bundles/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>