<div class="header">

    <div class="logo"><a href="index-2.html"><img src="/bundles/base/images/logo.jpg" alt="logo"><span>Blogfest Concept</span></a></div>
    
    <div class="logo-tag">
        <ul>
        
            <li><span class="orange">Art</span> related</li>
            <li><span class="orange">Graphic</span> Design</li>
            <li><span class="orange">Tutorials</span> and Freebies</li>
            <li><span class="orange">Community</span> submit news</li>
        
        </ul>
    </div>

</div>