<div id="dd" class="menu wrapper-dropdown"><span class="responsive_label">Select a page</span>
    
    <ul id="menu-mobile" class="dropdown">
        <li><a href="index-2.html" title="home page">Главная</a>
            <ul>
                <li><a href="index2.html" title="home 2">Home 2</a></li>
                <li><a href="index3.html" title="home 3">Home 3</a></li>
                <li><a href="index4.html" title="home 4">Home 4</a></li>
            </ul>
        </li>
        <li><a href="faq.html" title="Features">Features</a>
            <ul>
                <li><a href="faq.html" title="home">FAQ</a></li>
                <li><a href="404.html" title="404 error">404 Error</a></li>
                <li><a href="advertising.html" title="Advertising">Advertising</a></li>
            </ul>
        </li>
        <li><a href="portfolio.html" title="portfolio">Portfolio</a>
            <ul>
                <li><a href="portfolio.html" title="portfolio">With slider</a>
                <li><a href="portfolio-2col.html" title="portfolio 2">2 Columns</a>
                <li><a href="portfolio-3col.html" title="portfolio 3">3 Columns</a>
            </ul>
        </li>
        <li><a href="elements.html" title="styles">Styles</a>
            <ul>
                <li><a href="elements.html" title="elements">Elements</a></li>
                <li><a href="headings.html" title="headings">Headings</a>
                <li><a href="tables.html" title="pricing boxes">Pricing tables</a></li>
            </ul>
        </li>
        <li><a href="post.html" title="single blog post">Bloging</a>
            <ul>
                <li><a href="category.html" title="category template">Category</a></li>
                <li><a href="post.html" title="single blog post">Single post</a></li>
                <li><a href="results.html" title="search results">Search results</a>
            </ul>
        </li>
        <li><a href="contact.html" title="Contact">Contact</a></li>
    </ul>
    
</div>