<div id="dd" class="menu wrapper-dropdown"><span class="responsive_label">Select a page</span>
    
    <ul id="menu-mobile" class="dropdown">
        <li><a href="index-2.html" title="home page">Главная</a></li>
        <li><a href="faq.html" title="Features">Features</a></li>
        <li><a href="portfolio.html" title="portfolio">Portfolio</a></li>
        <li><a href="elements.html" title="styles">Styles</a></li>
        <li><a href="post.html" title="single blog post">Bloging</a></li>
        <li><a href="contact.html" title="Contact">Contact</a></li>
    </ul>
    
</div>