<div class="article_widget">

    <div class="article_widget_preview">
    
        <a href="#" title=""><img src="/bundles/base/images/200x125.gif" alt="lorem ipsum" style="opacity: 0.9;"><span style="display: none;"></span></a>
        
        <h1><a href="#" title="faucibus turpis eget i perdiet esci">faucibus turpis eget i perdiet esci</a></h1>
        
        <p>
            Sed sed arcu sed sem consequat ultricies vitae sit amet ipsum. Curabitur quis diam sapien...
        </p>
    
    </div>

    <div class="article_widget_listing ">
        
        <div class="article_widget_listing_th"><a href="#" title=""><img src="/bundles/base/images/53x53.gif" alt="Lorem ipsum" style="opacity: 1;"><span></span></a></div>
        
        <div class="article_widget_listing_content">
            
            <h3><a href="#" title="Aliquam bibendum consequat vene">Aliquam bibendum ed consequat vene</a></h3>
            <p class="meta"><a href="#">June 12, 2012</a></p>
            <p class="comments"><a href="#">38</a></p>
            
        </div>
    
    </div>

    <div class="article_widget_listing ">
        
        <div class="article_widget_listing_th"><a href="#" title=""><img src="/bundles/base/images/53x53.gif" alt="Lorem ipsum" style="opacity: 1;"><span></span></a></div>
        
        <div class="article_widget_listing_content">
            
            <h3><a href="#" title="Sed et hendrerit aenon dolor">Sed et hendrerit ut aenon dolor...</a></h3>
            <p class="meta"><a href="#">June 08, 2012</a></p>
            <p class="comments"><a href="#">177</a></p>
            
        </div>
    
    </div>

    <div class="article_widget_listing ">
        
        <div class="article_widget_listing_th"><a href="#" title=""><img src="/bundles/base/images/53x53.gif" alt="Lorem ipsum" style="opacity: 1;"><span></span></a></div>
        
        <div class="article_widget_listing_content">
            
            <h3><a href="#" title="Curabitur dictum magna mi">Curabitur eros et dictum magna mi</a></h3>
            <p class="meta"><a href="#">June 05, 2012</a></p>
            <p class="comments"><a href="#">15</a></p>
            
        </div>
    
    </div>

    <div class="article_widget_listing ">
        
        <div class="article_widget_listing_th"><a href="#" title=""><img src="/bundles/base/images/53x53.gif" alt="Lorem ipsum" style="opacity: 1;"><span></span></a></div>
        
        <div class="article_widget_listing_content">
            
            <h3><a href="#" title="Pellentesque vel sem id libero mollis">Pellentesque vel sem id libero mollis</a></h3>
            <p class="meta"><a href="#">June 01, 2012</a></p>
            <p class="comments"><a href="#">103</a></p>
            
        </div>
    
    </div>

</div>