<div class="login">
                
    <form action="#" method="get" accept-charset="utf-8">
        
        <fieldset>
            
            <p>
                <label for="email-login">Email</label><br>
                <input type="text" name="email" value="" id="email-login">
            </p>
                
            <p>
                <label for="password-login">Пароль</label><br>
                <input type="password" name="password" value="" id="password-login">
            </p>
                
            <p class="checkbox">
                <label for="remember">Запомнить меня</label>
                <input type="checkbox" name="remember" id="remember">
            </p>        
                
        </fieldset>
            
        <input type="submit" class="button" value="Вход">
            
    </form>
                
</div>
<div class="register">
                
    <form action="#" method="get" accept-charset="utf-8">
        
        <fieldset>
            
            <p>
                <label for="email-reg">Email</label><br>
                <input type="text" name="email" value="" id="email-reg">
            </p>
                
            <p>
                <label for="password-reg">Пароль</label><br>
                <input type="password" name="password" value="" id="password-reg">
            </p>
                
            <p>
                <label for="password-reg-conf">Пароль еще раз</label><br>
                <input type="password" name="password_conf" value="" id="password-reg-conf">
            </p>
                
        </fieldset>
        
        <input type="submit" class="button" value="Регистрация">
            
    </form>
                
</div>
<div class="pass_recover">
    
    <p>Забыли пароль? Кликните <a href="#">здесь</a></p>
    
</div>