<div class="login">
                
    <form action="#" method="get" accept-charset="utf-8">
        
        <fieldset>
            
            <p>
                <label for="username">Username</label><br>
                <input type="text" name="username" value="" id="username">
            </p>
                
            <p>
                <label for="password">Password</label><br>
                <input type="password" name="password" value="" id="password">
            </p>
                
            <p class="checkbox">
                <label for="remember">Remember me</label>
                <input type="checkbox" name="remember" id="remember">
            </p>        
                
        </fieldset>
            
        <input type="submit" class="button" value="Sign in">
            
    </form>
                
</div>
<div class="register">
                
    <form action="#" method="get" accept-charset="utf-8">
        
        <fieldset>
            
            <p>
                <label for="reg_username">Username</label><br>
                <input type="text" name="reg_username" value="" id="reg_username">
            </p>
                
            <p>
                <label for="email">Email</label><br>
                <input type="text" name="reg_email" value="" id="email">
            </p>
                
            <p>
                <label for="reg_password">Password</label><br>
                <input type="password" name="reg_password" value="" id="reg_password">
            </p>
                
        </fieldset>
        
        <input type="submit" class="button" value="Register">
            
    </form>
                
</div>
<div class="pass_recover">
    
    <p>Forgot your password? Click <a href="#">here</a></p>
    
</div>