<div class="social_login">

    <div class="social_login_twitter">
    
        <a href="#" title="Sign in with Twitter">Sign in with Twitter</a>
    
    </div>

    <div class="social_login_facebook">
    
        <a href="#" title="Sign in with Facebook">Sign in with Facebook</a>
    
    </div>

    <div class="social_login_google">
    
        <a href="#" title="Sign in with Google">Sign in with Google+</a>
    
    </div>

</div>