<div class="social_counter">

    <div class="social_counter_twitter">
    
        <a href="http://twitter.com/designsmix" title="Follow us on Twitter">Twitter</a>
        <span id="twitter">363</span>
    
    </div>

    <div class="social_counter_facebook">
    
        <a href="#" title="Like us on Facebook">Facebook</a>
        <span id="facebook">3929</span>
    </div>

    <div class="social_counter_delicious">
    
        <a href="#" title="bookmark us">Delicious</a>
        <span id="delicious">7566</span>
    </div>

    <div class="social_and_subscribe">
    
        <div class="social_icons">
        
            <ul>
                <li><a href="#" title=""><img src="images/icon_twitter_2.png" alt="Twitter"></a></li>
                <li><a href="#" title=""><img src="images/icon_facebook_2.png" alt="Facebook"></a></li>
                <li><a href="#" title=""><img src="images/icon_behance.png" alt="Behance"></a></li>
                <li><a href="#" title=""><img src="images/icon_dribbble.png" alt="Dribbble"></a></li>
                <li><a href="#" title=""><img src="images/icon_flickr.png" alt="Flickr"></a></li>
                <li><a href="#" title=""><img src="images/icon_rss_2.png" alt="RSS"></a></li>
            </ul>
        
        </div>
        
        <div class="subscribe">
        
            <form action="#" method="get" accept-charset="utf-8">
                <fieldset>
                <p><label for="s">subscribe with your email</label>
                <input type="text" class="subscribebox" name="s" value="" id="s">
                <input type="submit" class="subscribebox_submit" value=""></p>
                </fieldset>
            </form>
        
        </div>
    
    </div>

</div>