<div class="social_and_search">

    <div class="social_icons">
    
        <ul>
            <li><a href="#" title=""><img src="images/icon_twitter_2.png" alt="Twitter"></a></li>
            <li><a href="#" title=""><img src="images/icon_facebook_2.png" alt="Facebook"></a></li>
            <li><a href="#" title=""><img src="images/icon_behance.png" alt="Behance"></a></li>
            <li><a href="#" title=""><img src="images/icon_dribbble.png" alt="Dribbble"></a></li>
            <li><a href="#" title=""><img src="images/icon_flickr.png" alt="Flickr"></a></li>
            <li><a href="#" title=""><img src="images/icon_youtube.png" alt="YouTube"></a></li>
        </ul>
    
    </div>
    
    <div class="search">
    
        <form action="#" method="get" accept-charset="utf-8">
            <fieldset>
            <p><label for="s">enter your keyword...</label>
            <input type="text" class="searchbox" name="s" id="s" value="">
            <input type="submit" class="searchbox_submit" value="">
            </p></fieldset>
        </form>
    
    </div>

</div>