<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  
    <!-- Website title
        ================================================== -->
        <title>Home</title>
      
        <meta name="description" content="">
    <!-- Mobile Specific Metas
        ================================================== -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
    <!-- Stylesheets
        ================================================== -->
        
        <link rel="stylesheet" href="/bundles/base/css/base.css" />
        <link rel="stylesheet" href="/bundles/base/css/layout.css" />
        <link rel="stylesheet" href="/bundles/base/css/skeleton.css" />
        <link rel="stylesheet" href="/bundles/base/css/flexslider.css" />
        <link rel="stylesheet" href="/bundles/base/css/prettyPhoto.css" />
       
        <style>
        @font-face {
            font-family: 'Oswald Cyr';
            font-style: normal;
            font-weight: 400;
            src: url(/bundles/base/fonts/Oswald_Arial_2_Cyr.ttf);
        }
        .menu li a {
            font-family: 'Oswald Cyr';   
        }
        input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
            cursor: pointer;
        }
        </style>
        
        
        <!--[if  IE]>
        <link rel="stylesheet" href="/bundles/base/css/ie.css">
        <![endif]-->
        
        <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
</head>

<body>
  
    <div id="wrapper">
  
        <div id="main">
        
            <header><!-- HEADER start here 
            ================================================== -->
            {% block header %}
            {% endblock %}
            </header><!-- HEADER end here
            ================================================== -->            
        
            {% block content %}
            {% endblock %}
        
        </div>
        
        <!-- Sidebar
            ================================================== -->
        
        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}        
        </div> <!-- sidebar end --> 
        
        <a href="#" class="scrollup">Scroll</a>
        
        <!-- Footer
            ================================================== -->
        
        <footer>
        
            <div id="footer">
            
                <div class="footer_menu">
                
                    <ul>
                        <li><a href="index-2.html" title="home">Home</a></li>
                        <li><a href="faq.html" title="features">Features</a></li>
                        <li><a href="portfolio.html" title="portfolio">Portfolio</a></li>
                        <li><a href="elements.html" title="styles">Styles</a></li>
                        <li><a href="category.html" title="blog">Blog</a></li>
                        <li><a href="contact.html" title="contact">Contact</a></li>
                    </ul>
                
                </div>
                
                <div class="footer_social">
                
                    <ul>
                        <li><a href="#" title="" ><img src="/bundles/base/images/icon_rss.png" alt="RSS" /></a></li>
                        <li><a href="#" title="" ><img src="/bundles/base/images/icon_twitter.png" alt="Twitter" /></a></li>
                        <li><a href="#" title="" ><img src="/bundles/base/images/icon_facebook.png" alt="Facebook" /></a></li>
                        <li><a href="#" title="" ><img src="/bundles/base/images/icon_deviantart.png" alt="DevianART" /></a></li>
                        <li><a href="#" title="" ><img src="/bundles/base/images/icon_vimeo.png" alt="Vimeo" /></a></li>
                    </ul>
                
                </div>
            
            </div>

        </footer>

    </div>
  
    <!-- Scripts
        ================================================== -->
        
        <script src="/bundles/base/js/jquery-1.7.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.7.min.html">\x3C/script>')</script>
        <script src="/bundles/base/js/make_dropdown.js"></script>
        <script src="/bundles/base/js/jquery.infieldlabel.min.js"></script>
        <script defer src="/bundles/base/js/functions.js"></script>
        <script defer src="/bundles/base/js/jquery.flexslider-min.js"></script>
        <script src="/bundles/base/js/jquery.tweet.js"></script>
        <script src="/bundles/base/js/jquery.prettyPhoto.js"></script>

        <script type="text/javascript">
        
               jQuery.noConflict();
                jQuery(window).load(function() {
                jQuery('.flexslider').flexslider({
                    controlNav: false, 
                    animation: "slide",
                });
            
                jQuery(document).ready(function() {

                    // lightbox
                    jQuery("a[data-rel^='prettyPhoto']").prettyPhoto();
                
                });
                
            });    
        
        </script>
        
 </body>
</html>